[Unit]
Description=gost
After=rc-local.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root/
ExecStart=/usr/local/sbin/gost4xy -C /root/gost4xy.json
Restart=always
LimitNOFILE=512000
[Install]
WantedBy=multi-user.target
